.mix-details .artwork {
    height: 280px;
    line-height: 0;
    overflow: hidden;
    background-color: #242a32;
}

.mix-details .artwork div {
    height: 100%;
    background-size: cover;
}

.mix-details .artwork .placeholder {
    filter: none;
    transition: filter 150ms linear;
}

.mix-details .artwork .placeholder.blur {
    filter: blur( 6px );
    transition: none;
}

.mix-details .artwork img {
    object-fit: cover;
}

.mix-details .artwork .placeholder.blur img {
    display: none;
}

.mix-details .controls {
    margin-top: 2px;
}

.mix-details .controls button,
.mix-details .controls a {
    display: inline-block;
    height: 34px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #8899a9;
    background-color: #242a32;
}

.mix-details .controls button:hover,
.mix-details .controls a:hover {
    color: #cad1d9;
}

.mix-details .controls .play,
.mix-details .controls .queue,
.mix-details .controls .download {
    width: 92px;
}

.mix-details .controls .queue,
.mix-details .controls .download {
    margin-left: 2px;
}

.mix-details .controls .tracklist {
    width: 100%;
}

.mix-details .controls .tracklist svg {
    vertical-align: 0;
}

.mix-details .controls button span,
.mix-details .controls a span {
    font-size: .85em;
    vertical-align: 10%;
}

.mix-details .controls a span {
    line-height: 34px;
}

.mix-details .meta > div {
    min-height: 34px;
    margin-top: 2px;
    padding: 6px 15px;
    background-color: #242a32;
}

.mix-details .meta .header {
    float: left;
    width: 65px;
    line-height: 22px;
    font-size: 0.85em;
    font-weight: bold;
    text-transform: uppercase;
}

.mix-details .meta .header + div {
    overflow: hidden;
    text-overflow: ellipsis;
}

.mix-details.nowrap .meta .header + div {
    white-space: nowrap;
}

.mix-details .meta .label::before {
    content: ', ';
}

.mix-details .meta .label:first-child::before {
    content: '';
}

.mix-details .meta .description,
.mix-details .meta .stats {
    padding: 6px 15px;
    line-height: 1.5em;
}

.mix-details .meta .stats span {
    margin-right: 7px;
    white-space: nowrap;
}

