.mix-list {
    max-width: 100%;
}

/* HEADER */
.mix-list-header::after {
    display: block;
    content: '';
    clear: left;
}

.mix-list-header div {
    float: left;
    margin-bottom: 4px;
}

.mix-list-header span {
    font-size: 0.85em;
    font-weight: bold;
    text-transform: uppercase;
}

.mix-list-header .artists {
    margin-left: calc( 34px + 63px ) ;
}

/* ITEMS */
.mix-list-item,
.mix-list-footer {
    height: 34px;
    margin-bottom: 2px;
    line-height: 34px;
    white-space: nowrap;
    background-color: #242a32;
}

.mix-list-item > div {
    float: left;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mix-list-item > div > span {
    cursor: default;
}

.mix-list-item .artwork {
    width: 34px;
    line-height: 0;
}

.mix-list-item .controls {
    width: 63px;
    padding: 0 10px;
}

.mix-list-item .controls button {
    margin-left: 5px;
    color: #8899a9;
    outline: none;
}

.mix-list-item .controls button:hover {
    color: #cad1d9;
}

.mix-list-item .controls button:first-child {
    margin-left: 0;
}

.mix-list .artists {
    width: 15%;
    padding-right: 10px;
}

.mix-list .title {
    width: 30%;
    padding-right: 10px;
}

.mix-list .labels {
    width: calc( 55% - 178px );
    padding-right: 10px;
}

.mix-list .labels .label::before {
    content: ', ';
}

.mix-list .labels .label:first-child::before {
    content: '';
}

.mix-list-item .published {
    color: #8899a9;
}

div.mix-list-footer {
    text-align: center;
}

button.mix-list-footer {
    width: 100%;
    line-height: normal;
    text-transform: uppercase;
    font-weight: bold;
    color: #8899a9;
    background-color: #242a32;
}

button.mix-list-footer:hover {
    color: #cad1d9;
}

button.mix-list-footer span {
    font-size: .85em;
    vertical-align: 10%;
}
