.filters > div {
    width: 100%;
}

.filters .hidden {
    display: none;
}

.filters .expand {
    width: 100%;
}

.filter-item {
    margin: 3px 0;
    padding-right: 5px;
    line-height: 1.5em;
}
.filter-item.loading,
.filter-item.loading:hover {
    padding-left: 5px;
    background: #20262c;
}

.filter-item:hover {
    background-color: #20262c; /*#13161a;*/
}

.filter-item.active {
    background-color: #20262c; /*#1b2c42;*/
}

.filter-item label {
    display: block;
    cursor: pointer;
}

.filter-item-count {
    float: right;
}
