.filters {
    margin-top: 15px;
}

.filters:first-child {
    margin-top: 0;
}

.filters > div {
    width: 100%;
}

.filters .hidden {
    display: none;
}

.filters .expand {
    width: 100%;
}

.filters .header {
    font-weight: bold;
    text-transform: uppercase;
}

.filters .header .toggle {
    float: right;
    cursor: pointer;
}

.filters .header .toggle svg {
    margin: 0 6px;
}

.filter-item,
.filter-autocomplete-input {
    margin: 3px 0;
    padding-right: 5px;
    line-height: 1.5em;
}
.filter-item.loading,
.filter-item.loading:hover,
.filter-autocomplete-input {
    padding-left: 5px;
    background-color: #242a32;
}
.filter-autocomplete-input {
    width: 100%;
    border: 0;
    color: #cad1d9;
    border-bottom: 1px solid transparent;
}
.filter-autocomplete-input:focus {
    /*outline: 1px solid #cad1d9;
    outline-offset: -1px;*/
    outline: none;
    border-bottom: 1px solid #8899a9;
}

.filter-item:hover {
    background-color: #242a32; /*#13161a;*/
}

.filter-item .filter-item-count svg,
.filter-item.active:hover .filter-item-count span {
    display: none;
}

.filter-item.active:hover .filter-item-count svg {
    display: inline-block;
}

.filter-item.active {
    background-color: #242a32; /*#1b2c42;*/
}

.filter-item label {
    display: block;
    cursor: pointer;
}

.filter-item-count {
    float: right;
}
