.comment-item {
    margin-top: 2px;
    line-height: 0;
    background-color: #242a32;
}

.comment-item:first-child {
    margin-top: 0;
}

.comment-item::after {
    content: '';
    display: table;
    clear: left;
}

.comment-item .avatar {
    float: left;
    padding: 6px;
}

.comment-body {
    min-height: 60px;
    padding: 6px 15px 6px 60px;
    line-height: normal;
}

.comment-body .meta {
    font-size: .85em;
    font-weight: bold;
    text-transform: uppercase;
}

.comment-body .meta .author {
    margin-left: 10px;
}

.comment-body .content p {
    margin: 0;
}
